form {
  border: 2px dotted gray;
}

form {
  border: 2px solid red;
}

/* 요소 선택자 == 태그 선태갖*/
/* div {
  background-color: brown !important;
 } */

/* id 선택자 */
#box1 {
  background-color: brown !important;
}

/* class 선택자 */
.error {
  background-color: rgba(255, 0, 0, 0.3);
}
