@import url("reset.css");

form {
  border: 2px solid red;
}

/* 요소 선택자 == 태그 선택자*/
/* div {
  background-color: brown !important;
 } */

/* id 선택자 */
#box1 {
  background-color: brown !important;
}

/* class 선택자 */
.error {
  background-color: rgba(255, 0, 0, 0.3);
}

.parent {
  border: 1px solid purple;
  padding: 10px;
}

.children {
  border: 1px solid blue;
  padding: 10px;
}

.children_children {
  border: 1px solid red;
}

/* 자손 선택자 */
.parent div {
  background-color: aqua;
}

/* 일반 형제 선택자 */
/* .parent ~ div {
  border: 4px solid rgb(255, 0, 187);
} */

/* 인접 형제 선택자 */
.parent + div {
  border: 4px solid rgb(255, 0, 187);
}

/* 가상 선택자(hober) */
.submit-button:hover {
  /* 요소에 마우스 올렸을 때 스타일 */
  background-color: hotpink;
}
